@import "lib/settings";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    background-color: hsl(264, 50%, 5%);
    background-image: linear-gradient(160deg, #2d3b7a, #1f2446);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-transform: uppercase;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &:has(.auth-container) {
        align-items: center;
        justify-content: center;
    }
}

.container {
    // background-color: hsla(264, 10%, 2%, 0.2);
    background-image: linear-gradient(160deg, hsla(264, 10%, 4%, 0.2), hsla(264, 10%, 2%, 0.2));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    padding: 1.5rem;
    @include border;
    border-radius: .5rem;
}

.input-wrapper {
    margin-bottom: 1.5rem;

    label {
        display: block;
        text-transform: uppercase;
        margin-bottom: .5rem;
        color: $text-color;
    }

    input {
        padding: .5rem;
        width: 100%;
        background: none;
        color: inherit;
        font-size: inherit;
        @include inner-border;
        border-radius: .5rem;
    }
}

.auth-container {
    margin: 1.5rem;

    h1 {
        margin-bottom: 2rem;
        text-align: center;
    }

    button[type="submit"] {
        transition: filter .2s, scale .2s;
        text-transform: uppercase;
        padding: .5rem;
        width: 100%;
        background: none;
        color: inherit;
        font-size: inherit;
        @include inner-border;
        border-radius: .5rem;
        margin-bottom: 2rem;
        cursor: pointer;

        &:hover {
            filter: brightness(.5);
        }

        &:active {
            scale: .95;
        }
    }

    a {
        transition: filter .2s;
        color: $text-color;

        &:hover {
            filter: brightness(.8);
        }
    }
}


header.main-header {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    @include container-padding;
    font-size: 1rem;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        color: $text-color;
        text-decoration: none;
        transition: filter, border .2s;

        &:hover {
            filter: brightness(.8);
        }
    }

    .logo {
        @include inner-border;
        padding: .5rem;
        font-size: 1.25rem;
    }

    .center-links,
    .right-links {
        display: flex;
        gap: .5rem;
        align-items: center;

        a {
            border: .25rem solid transparent;

            &.selected {
                @include inner-border;
            }

            padding: .5rem;
        }
    }

    .right-links {
        .logout-button {
            font: inherit;
            background: none;
            padding: .5rem;
            transition: filter .2s;
            color: $text-color;
            cursor: pointer;

            @include inner-border;

            &:hover {
                filter: brightness(.8);
            }

        }

        .credit-count {
            padding: .5rem;
            @include inner-border;
        }

        .user {
            padding: .5rem;
        }
    }
}

#root>main {
    @include container-padding;
}

.loading-screen {
    background-color: $background-color;
    position: fixed;
    transition: transform .4s;
    z-index: 999;
    inset: 0;
    transform: translateY(120%);
    display: flex;
    align-items: center;
    justify-content: center;

    &.loading {
        transform: translateY(0%);
    }
}

.dashboard-section {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1.5rem;

    @include border;

    .dashboard-section {
        @include inner-border;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include border;
    border-width: .125rem;
}

.top-dashboard-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;

    .dashboard-section {
        text-align: center;

        .count {
            font-size: 3rem;
        }

        .description {
            text-transform: uppercase;
        }
    }
}

.bottom-dashboard-wrapper {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    a {
        transition: filter .2s;
        text-align: center;
        text-decoration: none;
        color: $text-color;

        &:hover {
            filter: brightness(.8);
        }
    }
}

.search-box {
    width: 100%;
    background-color: transparent;
    color: $text-color;
    font-size: inherit;
    padding: 1rem .5rem;

    @include border;
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1.5rem;

    .dashboard-section {
        .title {
            font-size: 1.25rem;
        }

        .description {
            filter: brightness(.8);
        }

        hr {
            margin-bottom: .5rem;
        }

        .stats {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: .5rem;
            text-align: center;

            .title {
                font-size: .75rem;
                filter: brightness(.8);
            }

            .dashboard-section {
                padding: .25rem;

                .value {
                    background-color: rgba(255, 255, 255, 0.1);
                    font-size: .75rem;
                    padding: .25rem;
                    margin-top: .5rem;

                    @include border;
                }

                .count {
                    font-size: .75rem;
                    padding: .25rem;
                    margin-top: .5rem;
                }
            }
        }

        .button {
            margin-top: .5rem;
            width: 100%;
            transition: filter .2s;
            background-color: rgba(0, 0, 0, 0.2);
            padding: .5rem;
            font-size: inherit;
            color: inherit;
            cursor: pointer;

            &.enrolled {
                background-color: rgba(80, 139, 91, 0.5);
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            @include border;

            &:hover {
                filter: brightness(.8);
            }
        }
    }
}

.back-button {
    display: block;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .5rem;
    margin-bottom: 1rem;
    color: inherit;
    text-decoration: none;
    transition: filter .2s;

    @include border;

    &:hover {
        filter: brightness(.8);
    }
}

.course-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    text-align: center;

    .dashboard-section {
        padding: 1.5rem;

        .progress-bar {
            margin-top: .5rem;
            width: 100%;
            height: 2em;

            @include inner-border;

            .progress {
                background-color: rgba(255, 255, 255, 0.1);
                height: 100%;
            }
        }

        .description {
            text-transform: uppercase;
            filter: brightness(.8);
        }
    }
}

.dashboard-section.chapter {
    margin-top: 1.5rem;

    .credit-count {
        display: block;
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.2);
        padding: .5rem;
        margin-bottom: 1rem;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;

        @include border;
    }

    .view-chapter {
        background-color: rgba(0, 0, 0, 0.2);
        padding: .5rem;
        margin-bottom: 1rem;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font: inherit;
        cursor: pointer;

        transition: filter .2s;

        @include border;

        &:hover {
            filter: brightness(.8);
        }
    }

    .chapter-completed {
        background-color: rgba(80, 139, 91, 0.5);
        padding: .5rem;
        margin-bottom: 1rem;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font: inherit;
        margin-left: 1rem;

        @include border;
    }

    .mark-as-completed {
        background-color: rgba(80, 139, 91, 0.5);
        padding: .5rem;
        margin-bottom: 1rem;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font: inherit;
        cursor: pointer;
        margin-left: 1rem;

        transition: filter .2s;

        @include border;

        &:hover {
            filter: brightness(.8);
        }
    }

    .share-achievement {
        background-color: rgba(0, 0, 0, 0.2);
        display: block;
        width: 100%;
        padding: .5rem;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font: inherit;
        cursor: pointer;

        transition: filter .2s;

        @include border;

        &:hover {
            filter: brightness(.8);
        }
    }
}

.available-sessions {
    margin-top: 1rem;

    .session-list {
        .dashboard-section {
            margin-top: 1rem;

            .stats {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: .5rem;
                text-align: center;
                margin-bottom: 1rem;
            }

            .view-profile {
                background-color: rgba(0, 0, 0, 0.2);
                padding: .5rem;
                color: inherit;
                text-decoration: none;
                text-transform: uppercase;
                font: inherit;
                cursor: pointer;

                transition: filter .2s;

                @include border;

                &:hover {
                    filter: brightness(.8);
                }
            }

            .book-session {
                background-color: rgba(80, 139, 91, 0.5);
                padding: .5rem;
                margin-bottom: 1rem;
                color: inherit;
                text-decoration: none;
                text-transform: uppercase;
                font: inherit;
                cursor: pointer;
                margin-left: 1rem;

                transition: filter .2s;

                @include border;

                &:hover {
                    filter: brightness(.8);
                }
            }

            .session-booked {
                margin-left: 1rem;
                display: inline;
                background-color: rgba(139, 122, 80, 0.5);
                padding: .5rem;
                margin-bottom: 1rem;
                color: inherit;
                text-decoration: none;
                text-transform: uppercase;
                font: inherit;

                @include border;
            }
        }
    }
}