body {
    margin: 0;
    height: 100vh;
}

.star {
    --star-color: yellow;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);

    width: 0;
    height: 0;
    border-right: 120px solid transparent;
    border-bottom: 90px solid var(--star-color);
    border-left: 120px solid transparent;

    animation: rotatestar 5s linear infinite;
}

.star::before {
    content: '';
    display: block;
    position: absolute;

    width: 0;
    height: 0;
    border-right: 120px solid transparent;
    border-bottom: 90px solid var(--star-color);
    border-left: 120px solid transparent;
    left: 50%;
    
    transform: translate(-50%, 0) rotate(70deg);
}


.star::after {
    content: '';
    display: block;
    position: absolute;

    width: 0;
    height: 0;
    border-right: 120px solid transparent;
    border-bottom: 90px solid var(--star-color);
    border-left: 120px solid transparent;
    left: 50%;
    
    transform: translate(-50%, 0) rotate(-70deg);
}

@keyframes rotatestar {
    0% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(540deg);
    }
}