body {
    font-family: sans-serif;
}

.photos {
    counter-reset: extraphotocount;
}

.photo-item:not(:nth-child(-n + 7)) {
    counter-increment: extraphotocount;
}

.photo-item:not(:nth-child(-n + 8)) {
    display: none;
}

.photo-item:last-child:not(:nth-child(-n + 8)) {
    position: relative;
    display: unset;
}

.photo-item:last-child:not(:nth-child(-n + 9)) img {
    filter: brightness(.5);
}

.photo-item:last-child:not(:nth-child(-n + 9))::after {
    content:  '+ ' counter(extraphotocount);
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}